* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    background-color: #1a1a1a;
    color: #fff;

    --orange: #f60;
    --brown: #a40;
    --yellow: #e6b20a;
    --grey: #2a2a2a;

    font-family: 'Segoe UI', Tahoma, sans-serif;
    font-size: 16px;

    scroll-behavior: smooth;
}


img {
    display: block;
    margin: 1rem auto;
    height: 4rem;
}

h1 {
    text-align: center;
    margin-bottom: 0.8rem;
}

.container {
    text-align: center;
    padding: 1rem;
    margin: 2rem auto 4rem auto;
    max-width: 480px;
}

.container hr {
    margin: 3rem 0;
    border: 0;
    height: 1px;
    background-color: #999;
}

button {
    display: block;
    border: 0;
    background-color: var(--orange);
    border-radius: 100px;
    padding: 0.5rem 0.8rem;
    color: white;
    text-transform: uppercase;
    margin: 1rem auto;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.2s;
}

button:hover {
    background-color: #f80;
}

p {
    font-weight: 700;
}

.sn-inputs {
    display: flex;
    flex-wrap: wrap;
}

.sn-inputs > input {
    width: unset;
    margin: 0.5rem;
    flex-grow: 1;
}

input {
    height: 2rem;
    color: var(--grey);
    border-radius: 100px;
    width: 50%;
    padding: 0 1rem;
    border: 0;
    margin: 0.5rem 0;
}

input::placeholder {
    color: #999;
}

input:focus-visible{
    outline: 2px var(--orange) solid;
}

.false{
    color: #ff6666;
    font-weight: 600;
}

.true {
    color: #68d368;
    font-weight: 600;
}

#reload {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    padding: 1rem;
}

#top {
    position: fixed;
    bottom: 4.5rem;
    right: 1rem;
    padding: 1rem;
}